<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androworms"
    android:versionCode="1"
    android:versionName="@string/numero_version" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androworms.ActiviteAndroworms"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androworms.ActiviteCamera"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActivityJeu"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteCreationCarte"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteMultiJoueur"
            android:label="@string/title_activity_multi_joueur"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteParametres"
            android:label="@string/title_activity_activite_parametres"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>