<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androworms"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.0.2 Alpha" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androworms.ActiviteAndroworms"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androworms.ActiviteCamera"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteJeu"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteEditeur"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteParametres"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteChoixOption"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.debug.ActiviteDebug"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteGyro"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActiviteCreationPartie"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.androworms.ActivitePartage"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity"></activity>
    </application>

</manifest>